{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block headers %} {% endblock %}

{% block body %}
    <main>
        <h1>Register</h1>

        {{ form_errors(registrationForm,{'attr': {'class': 'quiz-form'}}) }}

        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.username,{'attr': {'class': 'input-primar-light'}}) }}
        {{ form_widget(registrationForm.plainPassword,{'attr': {'class': 'input-primar-light'}}) }}


        <button type="submit" class='btn-primar-light'>Register</button>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
