{% extends 'base.html.twig' %}

{% block title %}Play{% endblock %}

{% block body %}
    <h1>Question {{ number }}: {{ question }}</h1>

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.answer) }}
        </div>
    </div>
    {{ form_end(form) }}
    <p>{{ money }}</p>
    <a href="{{path('index_quiz') }}">stop quiz</a>
{% endblock %}
