{% extends 'base.html.twig' %}

{% block title %}Play{% endblock %}

{% block body %}
    <main>
        <h1>Question {{ number }}: {{ question }}</h1>

        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        {{ form_widget(form.answer, {'attr': {'class': 'input-primar-light','placeholder': 'Answer here'}}) }}
        {{ form_widget(form.next,{'attr': {'class': 'btn-primar-light'}}) }}
        <div style="visibility: hidden">

        </div>
        {{ form_end(form) }}
        <a href="/quiz" class="btn-primar-dark">stop quiz</a>
    </main>
{% endblock %}
