
{% block body %}
    <div id="divListePokemon">
        <div id="filterBar">
            <div id="typeSelector">
                {% for type in liste_types %}
                    <img src="{{type.sprite}}"
                         hx-get="{{path('boutique_load_pokemon_type', {name:type.name} ) }}"
                         hx-trigger="click"
                         hx-target="#divListePokemon"
                         hx-swap="innerHTML">
                {% endfor %}
            </div>

            {{ form_start(formGen) }}
                {{ form_row(formGen.select_field) }}
                <button type="submit">
                    choose gen</button>
            {{ form_end(formGen) }}

            <input class="input-primar-light" type="search" name="searchPokemon" id="searchPokemon"
                   hx-get="{{path('boutique_load_pokemon_name')}}"
                   hx-trigger="input changed delay:500ms, search"
                   hx-target="#divListePokemon"
                   placeholder="Pokemon name"
                   hx-swap="innerHTML">
        </div>

        <div id="divBoutique">
            {% for pokemon in list_pokemon %}
                <article class="pokemonItem">
                    <img src="{{pokemon.sprite}}" class="imgPokemonCard" alt="picture of the pokemon {{pokemon.name}}">
                    <p> {{pokemon.name}} </p>
                    <button  class="btn-primar-light"
                             hx-get="{{path('boutique_buy_pokemon',{id:pokemon.id} )}}"
                             hx-trigger="click"
                             hx-target="#buyResponse{{pokemon.id}}"
                             hx-swap="innerHTML"
                    > {{pokemon.price}} </button>
                    <p id="buyResponse{{pokemon.id}}"></p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}

