<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link rel="stylesheet" href="/css/styles.css" >

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block headers %}
           <header>
               <nav>
                   <a href="{{path('app_display_pokemon')}}" class="nav-link active" aria-current="page">
                       <img src="/icone/clicker.png" alt="">
                       Clicker
                   </a>
                   <a href="{{path('app_boutique')}}" class="nav-link">
                       <img src="/icone/store.png" alt="">
                       Boutique
                   </a>
                   <a href="{{path('index_quiz')}}" class="nav-link">
                       <img src="/icone/quiz.png" alt="">
                       Quiz
                   </a>
                   <p id="moneyUser"> {{money}} $ </p>
               </nav>
           </header>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
